<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mini What'sapp</title>
</head>
<body>
    <h2>All Chats.....</h2>
    <br>
    <form method="get" action="/chats/new">
        <button>new Chat</button>
    </form>
    <br>
    <%for(let chat of chats) { %>        
        <div class="chat">
            <p>From : <b><%= chat.from%></b> </p>
            <div class="msg">
                <p>msg : <%= chat.msg %></p>
            </div>
            <p>To : <%= chat.to %></p>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join("-") %></p>
            
            <a href="/chats/<%= chat._id %>/edit">EDIT</a>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button class="delete" data-id="<%= chat.id %>">DELETE</button>
            </form>
            <form method="get" action="/chats/<%= chat._id %>">
                <button>Show</button>
            </form>
        </div>
    <% } %>
    <script src="/app.js"></script>
</body>
</html>