<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Posts</title>
</head>
<body>
    <h1>Quora Posts</h1>
    <% posts.forEach(post => { %>
        <div class="post">
            <h3 class="username">@<%= post.username %></h3>
            <h3 class="content"><%= post.content %></h3>
            <a href="/post/<%= post.id %>">See in Details</a>
            <a href="/post/<%= post.id %>/edit">Edit</a>
            <form method="post" action="/post/<%= post.id %>?_method=DELETE">
                <button>DELETE</button>
            </form>
        </div>
    <% }) %>
    <br>
    <a href="/post/new">Create new Post</a>
    
</body>
</html>